{% extends "base/base.html" %}

{% block body %}
<div>
  <h1>Clients</h1>
  <a href="{% url 'create_client' %}" class="btn btn-dark" style="width: max-content;border-radius: 25px; padding-left: 5%;padding-right: 5%;">Ajouter</a>
</div>



    {% for client in clientList %}
    <div class="card text-center"  style="margin-top: 2%; margin-left: 2%;;display:grid;width: 30%; float: left;">
      <div class="card text-white bg-dark">
        <h4 >{{client.Name}}</h4>
      </div>
      <div class="card-body" >
      <h4 >{{client.address}}</h4>
      <h4 >{{client.mobile}}</h4>
      <h4 >{{client.Type}}</h4>
     
    </div>
    <div class="card-footer bg-transparent border-dqrk"> 
      <td><a class="btn btn-primary btn-xs" href="{% url 'client_update' client.id  %}"style="border-radius: 20px; width:45%"><span class="glyphicon glyphicon-edit">Update</span></a></td>
      <td><a href="{% url 'delete_client' client.id  %}" class="btn btn-danger"style="border-radius: 20px;width:45%">Delete</a></td>
</div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
    <div style="clear:both;"></div>
    {% endif %}
    {%endfor%}

{% comment %} <div class="alert alert-primary" role="alert"> {% endcomment %}
</div>

{% endblock %}