{% extends "base/base.html" %}

{% block body %}
<h1>Grand Livre</h1>
<table class="table">
  <thead>
    <tr style="background-color: black ;font-weight: bolder; color: white;">
        <th scope="col">Journal</th>
      <th scope="col">Date</th>
      <th scope="col">Code</th>
      {% comment %} <th scope="col">Comminucation</th> {% endcomment %}
      <th scope="col">Partenaire</th>
      <th scope="col">Device</th>
      <th scope="col">Deb</th>
      <th scope="col">Cred</th>
      <th scope="col">Ballance</th>
      {% comment %} <th scope="col">Action</th> {% endcomment %}
    </tr>
    <tbody>
  </thead>
    {% for fc in factCl %}
    <tr>
        <th scope="row">{{fc.journal}}</th>
    <th scope="row">{{fc.date_facturation}}</th>
      <th scope="row">{{fc.code}}</th>
      {% comment %} <th scope="row">Extorurn de {{fc.id}}</th> {% endcomment %}
      <th scope="row">{{fc.client}}</th>
      <th scope="row"></th>
      <th scope="row">{{fc.total}}</th>
      <th scope="row"></th>
      <th scope="row">{{fc.total}}</th>
    </tr>
    {%endfor%}
    {% for fr in factFr %}
    <tr>
        <th scope="row">{{fr.journal}}</th>
    <th scope="row">{{fr.date_facturation}}</th>
      <th scope="row">{{fr.code}}</th>
      <th scope="row">{{fr.fournisseur}}</th>
      <th scope="row"></th>
      <th scope="row"></th>
      <th scope="row">{{fr.total}}</th>
      <th scope="row">{{fr.total1}}</th>
    </tr>
    {%endfor%}
    {% for p in paie %}
    <tr>
        <th scope="row">{{p.journal}}</th>
    <th scope="row">{{p.Date}}</th>
      <th scope="row">{{p.code}}</th>
      <th scope="row">{{p.Client}}</th>
      <th scope="row"></th>
      <th scope="row">{{p.Deb}}</th>
      <th scope="row">{{p.Cred}}</th>
      <th scope="row">{{p.Montant}}</th>
    </tr>
    {%endfor%}


    <tr style="color: white; background-color: black; font-style: italic; font-weight: bolder;">
        <th scope="row" >Total</th>
        <td colspan="4"></td>
        <td colspan="1">{{balance}}</td>
        <td colspan="1">{{bal}}</td>
        <td colspan="1">{{balance5}}</td>
      </tr>
  </tbody>
  
</table>
<table>
  
</table>



{% comment %} <div class="alert alert-primary" role="alert"> {% endcomment %}
</div>

{% endblock %}