{% extends "base/base.html" %} {% block body %}
<h1>immobilisations</h1>
<a href="{% url 'create_immob' %}" class="btn btn-success" style="width: max-content;border-radius: 25px; padding-left: 5%;padding-right: 5%;">Crrer</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom de l'immobilisation</th>
            <th scope="col">Date d'acquisition</th>
            <th scope="col">valeur d'origin</th>
            <th scope="col">Methode</th>
            <th scope="col">Valeur Comptable</th>
            <th scope="col">Valeur Ammortissable</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for immob in immob %}
        <tr>
            <th scope="row">{{immob.nom_immob}}</th>
            <th scope="row">{{immob.date_acquisition}}</th>
            <th scope="row">{{immob.val_origin}}</th>
            <th scope="row">{{immob.methode}}</th>
            <th scope="row">{{immob.val_origin}}</th>
            <th scope="row">{{immob.val_amort}}</th>
            <td><a class="btn btn-primary btn-xs" href="{% url 'immob_update' immob.id  %}" style="border-radius: 20px;"style="border-radius: 20px;"><span class="glyphicon glyphicon-edit">Update</span></a></td>
            <td><a href="{% url 'delete_immob' immob.id  %}" class="btn btn-danger"style="border-radius: 20px;"style="border-radius: 20px;">Delete</a></td>

        </tr>
        {%endfor%}
    </tbody>
</table>


{% comment %}
<div class="alert alert-primary" role="alert"> {% endcomment %}
</div>

{% endblock %}